* {
    box-sizing: border-box;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: turquoise;
    white-space: nowrap;
}
h1 {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 10px 10px;
    border-color: black;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:300%;
    margin: 10px 10px;
}

.body {
    background-color: rgb(8, 247, 227);
}

.nav {
    display: flex;
    gap: 10%;
    justify-content: flex-end;
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 175%;
    font-weight:bold;
}


.phrase {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

h2 {
    display:flex;
    justify-content: flex-end;
    color: white;
    background-color:black;
    padding:20px 20px;
    border-color: black;
    font-family: sans-serif;
}

h3 {
    display: flex;
    flex-direction:column;
    font-size: 300%;
    font-family:Arial, Helvetica, sans-serif;   
}

p {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

aside {
    background-color:aliceblue;
}

.about, .work, .contact  {
    display:flex;
    flex-direction:column;
    color: rgb(78, 100, 128);
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
}

.work {
    display:flex;
    color: rgb(78, 100, 128);
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
}
.contact {
    display:flex;
    color: rgb(78, 100, 128);
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;

}
.describe {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    color: rgb(78, 100, 128);
    font-size: 125%;
    font-family:Arial, Helvetica, sans-serif;
}
    

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif;
}