* {
    box-sizing: border-box;
    align-items: center;
}

.body {
    margin: 0;
    justify-content: center;
}

.header {
    display: flex;
    background-color: turquoise;
}

.nav {
    display: flex;
    gap: 20%;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight:bold;
    margin-left: 45%
}
h1 {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding: 10px 10px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:300%;
    margin: 0;
}


.stars {
    background-image: url(../images/stars.jpg);
}

#phrase {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

h2 {
    display:flex;
    justify-content: flex-end;
    color: white;
    background-color: black;
    width:40%;
    padding:20px 20px;
    font-family: sans-serif;
}

.article {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
    background-color:aliceblue;
}

#about {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:column;
    color: rgb(78, 100, 128);
    font-size: 180%;
    border-right: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 45%;
    height: 180px;
}

p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
    margin-left: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.project {
    display:flex;
    background-color:lightblue;
}

.begin {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#work {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    color: rgb(78, 100, 128);
    font-size: 168%;
    border-right: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    height: 800px;
    width: 20%;
} 

.module {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction:column;
    margin: 20px;
    width: 1000px;
    height:650px;
    background-image: url(../images/Horiseon.jpg);  
}

.soon {
    display: flex;
    flex-direction: row;
  }

h4 {
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-direction:row;
    background-color: blue;
    color:white;
    font-size:125%;
    font-family: Arial, Helvetica, sans-serif;
} 
  
.column {
    display: flex;
    width: 50%;
    padding: 20px;
  }

.describe {
    display: flex;    
    background-color: rgb(144, 211, 241);;
}

#contact {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: rgb(78, 100, 128);
    font-size: 150%;
    border-right: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width:14.30%;
    height:55px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    gap: 20%;
    margin-left: 25%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight:bold;
    text-decoration-line: underline solid;
}

a:visited {
    color: rgb(179, 87, 87);
}
a:link{
    color:red;
}

.copyright {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
    font-size: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}