* {
    box-sizing: border-box;
    width: 100%;
}

.h1 {
    display: flex;
    justify-content: flex-start;
}

.body {
    background-color: peachpuff;
}

.nav {
    display: flex;
    justify-content: flex-end;

}